.header{
    height: 150px;
    background-color: #F53A3A;
    position: fixed;
    top: 10 px;
}

.banner{
    height: 600px;
    background-color: aliceblue;
}

.slogan{
    height: 800px;
    background-color: white;
}

.footer{
    height: 100px;
    background-color: #3A3A3A;
}


/* sm devices */
@media (min-width: 576px){
    body{
        background-color: pink;
    }
}

/* md devices */
@media (min-width:768px){
    body{
        background-color: orange;
    }
}

/* lg devices */
@media (min-width: 992px){
    body{
        background-color: chocolate;
}
    .header{
        height: 100px;
    }

/*xl devices */
@media (min-width: 1200px){
    body{
        background-color: aqua;
    }
}
