.header{
    height: 150px;
    background-color: #F53A3A;
}

.banner{
    height: 600px;
    background-color: aliceblue;
}

.slogan{
    height: 800px;
    background-color: white;
}

.slogan2{
    height: 200px;
    background-color: #F53A3A;
}

.footer{
    height: 100px;
    background-color: #3A3A3A;
}

.nukacola{
    height: 200px;
    background-color: white;
}

.product{
    height: 800px;
    background-color: lightgrey;
    padding-left: 50px;
    padding-right: 50px;
}

.bottle{
    height: 70%;
    width: 100%;
    background-color: blueviolet;
    float: left;
}

.btext{
    height: 30%;
    width: 100%;
    background-color: bisque;
    float: left;
}

/* sm devices */
@media (min-width: 576px){
    body{
        background-color: pink;
    }
}

/* md devices */
@media (min-width:768px){
    body{
        background-color: orange;
    }
    .bottle{
        height: 100%;
        width: 50%;
    }
    .btext{
        height: 100%;
        width: 50%;
    }
}

/* lg devices */
@media (min-width: 992px){
    body{
        background-color: chocolate;
}
    .header{
        height: 100px;
    }
    .bottle{
        width: 35%;
    }
    .btext{
        width: 65%;
    }

/*xl devices */
@media (min-width: 1200px){
    body{
        background-color: aqua;
    }
}
